#main-article
  #articleHead
    .headTitle
      .articleTitle 不敗的選擇!!紅色穿搭特輯!!紅色穿搭特輯!!
      .hotImg
    .postTime
      %ul
        %li.word 發表於
        %li.postDate 2012/01/01
  .articleShare 
    %ul
      %li.shareWord 分享
      %li.shareFb=link_to image_tag(url("/images/share_fb.png"), :alt=>""),"#"
      %li.hareGg=link_to image_tag(url("/images/share_gg.png"), :alt=>""),"#"
  #articleContent
    .pic= image_tag( lorem.image("410x630"), :alt=>"")
    .mainContent
      -6.times do
        .paragraph
          -3.times do
            %p 
              話說保養妝是霧面粉嫩的效果!!因為我是超乾肌>"<..喜歡擦完保養品後臉超油亮滋潤的fu...
  #articleBottom
    .catLinks
      %dl.catContent
        %dt
          全站分類:
          %dd
            %a{:href=>"#"} 時尚流行
        %dt
          個人分類:
          %dd
            %a{:href=>"#"} 穿搭
        %dt
          此分類上一篇:
          %dd
            %a{:href=>"#"} 穿搭。師大夜市不要消失之戰利品穿搭文
        %dt
          此分類下一篇:
          %dd
            %a{:href=>"#"} 穿搭。師大夜市不要消失之戰利品穿搭文
      %ul.quote
        %li=link_to "引用(100)","#"
        %li
          |
        %li=link_to "回覆(1000)","#"
    .tags
      .tagImg 文字標籤
      .tagWord
        %ul
          %li=link_to "時尚流行","#"
          %li 、
          %li=link_to "美妝","#"
          %li 、
          %li=link_to "旅遊","#"
    .moreArticles
      %p 閱讀相關文章：
      .article
        %ul
          -5.times do
            %li
              %a{:href=>"#", :title=>"素顏也有好氣色", :class=>""}
                .pic= image_tag lorem.image("90", :alt=>"")
                .word
                  保養 | ~素顏~也有好氣色！美妝品血淚試用心得分享！
    .copyLink
      %input{:name=>"textArea", :type=>"text", :class=>"inputLink"}
      %button
        複製引用網址
  #articleReply
    .replyHead
      .reply
        %ul
          %li.replyFb=link_to "Facebook回應","#"
          %li.replyMe=link_to "我要回應","#"
          %ul.member
            %li= image_tag(url("/images/stars.png"), :alt=>"")
            %li=link_to "會員年資","#"
            %li=link_to "發言資歷","#"
            %li=link_to "UID非會員","#"
        .replyComments
          %ul
            %li.comments
              .leftSide
                .pic= image_tag lorem.image("90", :alt=>"")
                .stars= image_tag(url("/images/stars.png"), :alt=>"")
              .rightSide
                .replyContent
                  .reply
                    真的!!超可愛的!!!!真的!!超可愛的!!!!
                    %br
                      真的!!超可愛的!!!!真的!!超可愛的!!!!
                    .replied
                      這次的分享不只有T恤噢!!還有可愛外套!!!!
                .stair 1樓
                .userInfo
                  %ul
                    %li=link_to "無敵好吃寶咖咖","#"
                    %li
                      於
                    %li.replyDate 2012/01/01 00:00 AM
                    %li=link_to "回應","#"
                    %li.bar
                      |
                    %li=link_to "檢舉","#"
            %li.comments               
              .leftSide
                .pic= image_tag lorem.image("90", :alt=>"")
                .stars= image_tag(url("/images/stars.png"), :alt=>"")
              .rightSide
                .replyContent
                  -2.times do
                    這次的分享不只有T恤噢!!還有可愛外套!!!!
                    %br
                      這次的分享不只有T恤噢!!還有可愛外套!!!!
                .stair 2樓
                .userInfo
                  %ul
                    %li=link_to "無敵好吃寶咖咖","#"
                    %li.replyDate 2012/01/01 00:00 AM
                    %li=link_to "回應","#"
                    %li.bar
                      |
                    %li=link_to "檢舉","#"
            %li.comments.whisper               
              .leftSide
                .replyContent
                  悄悄話
              .rightSide
                .stair 3樓
                .userInfo.whisper
                  %ul
                    %li 悄悄話
                    %li.replyDate 2012/01/01 00:00 AM
                    %li=link_to "回應","#"
                    %li.bar
                      |
                    %li=link_to "檢舉","#"
=partial "/_partials/user_sidebar"
      